.form-container {
  padding: 20px;
  @media (min-width: 481px) {
    width: 50vw;
    margin: 0 auto;
    text-align: center;
  }
}

.form-title {
  text-align: center;
}

input[type="text"]::placeholder {
  color: #ced4da;
}

select option:first-child {
  color: #ced4da !important;
}
