.mapboxgl-canvas {
  position: relative;
  left: 0;
}

.mapboxgl-ctrl-bottom-right {
  display: none;
}


.high-z {
  z-index: 10;
  position: absolute;
  background-color: red
}

.index-icons {
  width: 25px;
  height: 25px;
}

.attraction-card {
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  max-width: 600px;
  margin: 0 auto 10px auto;
}

.attraction-card-title-holder {
  display: flex;
  align-items: center;
}

.btn-attraction {
  padding: 5px 10px;
  margin: 3px;
}

.attraction-card-links {
  margin-top: 5px;
}

.mapboxgl-marker {
  position: absolute;
  top: 0;
  left: 0;
  will-change: transform;
}
