.popup-window {
  border-radius: 5px;
  background: #fff;
  padding: 20px;
}

.icon-spacer {
  margin-right: 10px;
}

.popup-ctas {
  display: flex;
  justify-content: space-around;
}

.pin-color {
  color: #FC0419;
}

.info-color {
  color: #477CF9;
}
